<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" ><mapper namespace="com.google.tendengce.mapper.InfoDao" >    <select id="getInfoById" resultType="com.google.tendengce.entity.Info" parameterType="java.lang.Integer" >    select * from info where id = #{id,jdbcType=INTEGER}  </select>    <!---->    <insert id="addInfo" parameterType="com.google.tendengce.entity.Info" useGeneratedKeys="true" keyProperty="info.id">    insert into info (INFOMATION,VALID_FLAG,create_date) values (#{info.infomation},#{info.validFlag},#{info.createDate})  </insert></mapper>