<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.google.tendengce.mapper.UserDao" >


<!--  <resultMap id="BaseResultMap" type="com.xiaour.spring.boot.entity.UserInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="VARCHAR" />
  </resultMap>-->
  
  <select id="selectByPrimaryKey" resultType="com.google.tendengce.entity.Suser" parameterType="java.lang.Integer" >
    select * from Suser where id = #{id,jdbcType=INTEGER}
  </select>

  <!---->
  <insert id="addUserInfo" parameterType="com.google.tendengce.entity.Suser" useGeneratedKeys="true" keyProperty="suser.id">

<!--    <selectKey resultType="int" keyProperty="id" order="AFTER">
      select @@identity as id
    </selectKey>-->
    insert into Suser (name,age,score_id,info_id) values (#{suser.name},#{suser.age},#{suser.scoreId},#{suser.infoId})

  </insert>

</mapper>